<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style/style.css">
    <script src="https://kit.fontawesome.com/6b623874a7.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="./assets/images/Logo-Amazing-Events.png" type="image/x-icon">
    <title>Past Events</title>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg  container-fluid d-flex justify-content-end justify-content-between">
        <div class="container">
            <img class="logo" src="./assets/images/Logo-Amazing-Events.png" alt="LogoAmazing" >
        </div>
          <div class="navbar-nav d-flex flex-row flex-wrap gap-2 pe-5 nav">
            <a class="button" href="./index.html">Home</a>
            <a class="button" href="./upcoming-events.html">Upcoming Events</a>
            <a class="button" id="active" href="#">Past Events</a>
            <a class="button" href="./contact.html"> contact</a>
            <a class="button" href="./stats.html">stats</a>


          </div>
      </nav>
      <div class="title ">
        <h1>Past Events</h1>
      </div>
    </header>
    <main>
      <div id="app">
            <fieldset class="d-flex justify-content-center flex-column gap-3 flex-wrap">
                <div class="btn-group gap-3 d-flex justify-content-around flex-wrap" role="group" data-bs-toggle="buttons" >
                    <template v-for="category in categoriasFiltradasPast">
                        <label class="btn btn_checked text-bg-primary active">
                            <input type="checkbox" class="me-2" :value="category" v-model="checked"> {{category}}
                        </label>
                    </template>
                </div>
                <div class="mb-3 d-flex searchBar align-self-center">
                    {{filtrarPast}}
                    <input type="text" class="form-control" placeholder="Search" v-model="inputBusqueda" >
                </div>
            </fieldset>
        
        <div class="conteiner_main d-flex justify-content-between gap-4 flex-wrap g-col-4">
            <div class="card border-dark g-col-3 card_conteiner p-2 text-bg-white" v-for="evento in eventosFiltradosPast">
                <img class="card-img-top" :src="evento.image" :alt="evento.name">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h4 class="card-title">{{evento.name}}</h4>
                    <p class="card-text">{{evento.desc}}</p>
                    <h4>${{evento.price}}</h4>
                    <a :href="'./details.html?id='+evento._id" class="btn btn-primary">More info...</a>
                </div>
            </div>
        </div>
        <h2 v-if="eventosFiltrados.length==0" class="text-bg-primary text-center p-2">No results found</h2>
    </div>
       
    
    </main>
    <footer>
      <div class="footer-contain">
        <div class="redes">
          <figure><i class="fa-brands fa-instagram logos-redes"></i></figure>
          <figure><i class="fa-brands fa-facebook logos-redes"></i></figure>
          <figure><i class="fa-brands fa-whatsapp"></i></figure>
        </div>
        <div class="footer-text">
          <h4> Cohort 38</h4>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>